// Require compass clearfix
@import compass/utilities

// Helper Functions
//=================
@function column-width($column)
  @if $grid-columns-ratio == 'even'
    @return $grid-column-width
  @else
    $factor: nth($grid-columns-ratio, $column)
    @return $grid-column-width * $factor

@function colspan-to-width($from, $to)
  $width: 0
  @while $from <= $to
    $width: $width + column-width($from) + $grid-gutter-width
    $from: $from + 1

  @return $width - $grid-gutter-width

@function grid-width()
  @return colspan-to-width(1, $grid-columns)

@function grid-gutters()
  @return $grid-columns - 1

// Public Mixins
//==============
=grid-container
  +clearfix
  width: grid-width()
  margin: 0 auto

=column($from, $to)
  +column-behavior
  width: colspan-to-width($from, $to)
  margin-right: $grid-gutter-width

=last
  margin-right: 0

// Internal Methods
//=================
=column-behavior
  float: left
