@import compass/reset
@import "../../stylesheets/ruudukko-grid"

body
  line-height: 1.6
  font:
    size: 12px
    family: "Helvetica", sans-serif
  text-align: justify

#main
  +grid-container

#col1
  +column(1,1)

#col2
  +column(2,2)

#col3
  +column(3,3)

#col4
  +column(4,4)
  +last
